.container {
  height: 100vh;
  overflow: auto;
  background-color: #fcfcfc;
  .blur-bg {
    filter: blur(10rpx);
    overflow: hidden;
    animation: ani-blur 1000ms;
  }
  .header {
    margin: 0 40rpx;
    margin-top: 32rpx;
    display: flex;
    align-items: center;
    .avatar-box {
      width: 100rpx;
      height: 100rpx;
      border: 5rpx solid white;
      border-radius: 50%;
      box-shadow: 0 6rpx 16rpx rgba(25, 118, 210, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 24rpx;
      height: 108rpx;
      justify-content: space-between;
      .nick-name {
        color: #1976d2;
        font-weight: bold;
        font-size: inherit;
      }
      .at-button {
        padding: 0;
        margin: 0;
        border: none;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 12rpx 48rpx;
        border-radius: 36rpx;
        background-color: #ffee58;
        color: black;
        text-align: center;
        font-weight: bold;
        font-size: 26rpx;
      }
      .login-btn {
        width: 240px;
      }
      .total-time {
        font-size: 32rpx;
        color: black;
      }
    }
  }
  .chart-area {
    height: 500rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    image {
      width: 60%;
      height: 60%;
    }
  }
  .target-container {
    height: calc(100vh - 640rpx);
    display: flex;
    position: relative;
    padding: 0 24rpx;
    .loading {
      position: absolute;
      top: 30%;
    }
    .target-list {
      flex: 1;
      .title {
        text {
          margin: 0 10rpx;
          color: #1565c0;
        }
      }
      .target-item {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 6rpx 24rpx rgba(25, 118, 210, 0.08);
        border-radius: 18rpx;
        margin-top: 24rpx;
        padding: 12rpx 16rpx;
        height: 140rpx;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-evenly;
        &:last-of-type{
          margin-bottom: 24rpx;
        }
        .target-bottom {
          display: flex;
          font-size: 24rpx;
          .target-name {
            color: #010101;
          }
          .target-total-time {
            line-height: 48rpx;
            background-color: #faf9fd;
            padding: 0 10rpx;
            margin-right: 10rpx;
            color: #adacb0;
          }
          .target-last-record-time {
            line-height: 48rpx;
            padding: 0 10rpx;
            background-color: #faf9fd;
            color: #adacb0;
          }
        }
      }
    }
  }
  .create-img {
    position: fixed;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    margin: 64rpx;
    padding: 24rpx;
    width: 108rpx;
    height: 108rpx;
    border-radius: 50%;
    background-color: #1565c0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3rpx 20rpx;
  }
}

@keyframes ani-blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
